*{
    box-sizing: border-box;
    margin: 0;
    font-family: Courier, monospace;
}

body{
    background-color: #fefefe;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#page{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hflex{
    display: flex;
}

header h1, .modal h1{
    font-size: 1.3rem;
}

header h1{
    padding: 0;
}

#add{
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

#add button{
    position: relative;
    top: 0.7rem;
    background-color: #539BB3;
}

#bookshelf{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.book-item{
    width: 45ch;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue{
    background-color: #BBD6DC;
}

.yellow{
    background-color: #F3DF9D;
}

.green{
    background-color: #C4DEC6;
}

.red{
    background-color: #EAC0A2;
}

h1,h2,p{
    padding-left: 2rem;
    padding-right: 2rem;
}

h1{
    font-weight: 400;
    font-size: 2.25rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h2{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.title p,.author p{
    margin-top:0.5rem;
}

.title input, .author input{
    margin-bottom: 0.5rem;
    padding: 1rem;
    width: calc(100% - 4rem);
}

.title input{
    margin-top: 1rem;
}

.title{
    margin-bottom: 1.5rem;
}

.author{
    margin-bottom: 2rem;
}

p{
    mix-blend-mode: multiply;
    color:#539BB3;
    text-transform: uppercase;
}

hr{
    mix-blend-mode: multiply;
    border: 1px solid #539BB3;
}

.thick-divider{
    border: 3px solid #539BB3;
}

.key-name{
    width: 50%;
    mix-blend-mode: multiply;
    border-right: 1px solid #539BB3;
}

.value{
    text-transform: capitalize;
    color: black;
    mix-blend-mode: multiply;
    border-left: 1px solid #539BB3;
}

.key-name,.value{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.edit{
    justify-content: space-between;
    align-items: center;
}

button{
    padding:1rem;
    background-color: transparent;
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.modal-cont{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.765);
    height: 100%;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: flex-start;
}

.modal{
    background-color: white;
    width: 70ch;
    border: 1px solid rgba(0, 0, 0, 0.218);
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal input{
    margin-left: 2rem;
    font-size: 1rem;
}

.modal label.radio-label{
    padding-left: 0;
}

.modal input[type=button]{
    padding: 1rem;
}

.modal label{
    padding-left: 2rem;
}

.vflex{
    display: flex;
    flex-direction: column;
}

#card-color{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-footer{
    justify-content: space-between;
    margin-bottom: 1rem;
}

.hidden{
    display: none;
}