*{
    box-sizing: border-box;
    margin: 0;
    font-family: Courier, monospace;
}

body{
    background-color: #fefefe;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#page{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.hflex{
    display: flex;
}

header h1{
    font-size: 1.3rem;
}

#add{
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

#add h1{
    padding: 0;
}

#add button{
    position: relative;
    top: 0.7rem;
    background-color: #539BB3;
}

#bookshelf{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.book-item{
    background-color: #BBD6DC;
    width: 45ch;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1,h2,p{
    padding-left: 2rem;
    padding-right: 2rem;
}

h1{
    font-weight: 400;
    font-size: 2.25rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h2{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.title p,.author p{
    margin-top:0.5rem;
}

.title p{
    margin-bottom: 1.5rem;
}

.author{
    margin-bottom: 2rem;
}

p{
    mix-blend-mode: multiply;
    color:#539BB3;
    text-transform: uppercase;
}

hr{
    mix-blend-mode: multiply;
    border: 1px solid #539BB3;
}

.thick-divider{
    border: 3px solid #539BB3;
}

.key-name{
    width: 50%;
    mix-blend-mode: multiply;
    border-right: 1px solid #539BB3;
}

.value{
    text-transform: capitalize;
    color: black;
    mix-blend-mode: multiply;
    border-left: 1px solid #539BB3;
}

.key-name,.value{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.edit{
    justify-content: space-between;
    align-items: center;
}

button{
    padding:1rem;
    background-color: transparent;
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}